$breakpoints: (
  tiny: 25rem,
  illustrations-fit: 40rem,
  wide: 46rem,
  sidebar: 50rem,
  wide-and-sidebar: 60rem,
  rows-fit: 82rem,
);

@mixin responsive($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
