$breakpoints: (
  tiny: 25rem,
  illustrations-fit: 40rem,
  wide: 44rem,
  sidebar: 50rem,
  wide-and-sidebar: 60rem
);

@mixin responsive($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
