.footer-container {
  padding: $space-m;

  .links {
    display: flex;
    justify-content: center;

    li {
      padding: 0 $space-m;

      & + li {
        border-left: $border;
      }

      a {
       white-space: nowrap;
      }
    }

    @include responsive(sidebar) {
      justify-content: flex-end;
    }
  }
}
