.header-container {
  padding: $space-l;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    margin: 0 2rem 0 0;
  }

  .logo-svg {
    width: 100%;
    max-width: 16rem;
    display: block;
    margin: auto;
  }

  .links {
    text-align: right;
  }

  @include responsive(sidebar) {
    flex-direction: column;

    h1 {
      margin: 0;
    }
  }
}
