.illustration-container {
  padding: 0 $space-s $space-m;
  margin: -($space-l) 0 (-($space-m));

  .wrap, .group {
    display: flex;
  }

  .wrap {
    flex-direction: column;
    align-items: stretch;
  }

  .group {
    justify-content: center;
  }

  @include responsive(tiny) {
    padding: 0 $space-m $space-xl;
  }

  @include responsive(illustrations-fit) {
    margin: -($space-xl) 0 (-($space-l));

    .wrap {
      justify-content: center;
      flex-direction: row;
    }

    .group {
      flex-direction: column;
      margin: 0 1rem;
    }
  }

  .illustration {
    margin: 0.5rem 0;
    &.-sm {
      width: 6rem;
    }
    &.-md {
      width: 8rem;
    }
    &.-lg {
      width: 18rem;
    }
  }
}
