.illustration-container {
  padding: $space-m $space-s;

  .wrap, .group {
    display: flex;
  }

  .wrap {
    flex-direction: column;
    align-items: stretch;
  }

  .group {
    justify-content: center;
  }

  @include responsive(tiny) {
    padding: $space-xl $space-m;
  }

  @include responsive(illustrations-fit) {
    .wrap {
      justify-content: center;
      flex-direction: row;
    }

    .group {
      flex-direction: column;
      margin: 0 1rem;
    }
  }

  .illustration {
    margin: 0.5rem 0;
    &.-sm {
      width: 6rem;
    }
    &.-md {
      width: 8rem;
    }
    &.-lg {
      width: 18rem;
    }
  }
}
