.main-container, .project-container {
  overflow-x: hidden;

  .section {
    position: relative;

    & + .section {
      border-top: $border;
    }

    .wrap {
      max-width: 78em;
      margin: auto;
    }

    .text {
      margin: $space-l;
    }

    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 2rem;
      font-size: 0.8em;
    }

    @include responsive(tiny) {
      .text {
        margin: $space-xl auto $space-xl $space-l;
      }

      &:nth-child(even) {
        text-align: right;

        .text {
          margin: $space-xl $space-l $space-xl auto;
        }
      }

      .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 4rem;
        font-size: 1em;

        &.-sm {
          font-size: 0.8em;
        }
      }
    }

    @include responsive(wide) {
      .text { width: (3/4)*100%; }
      .projects { margin-bottom: 6rem; }

    }

    @include responsive(sidebar) {
      .text { width: auto; }
      .projects { margin-bottom: 4rem; }
    }

    @include responsive(wide-and-sidebar) {
      .text { width: (3/4)*100%; }
      .projects { margin-bottom: 6rem; }
    }

    @include responsive(rows-fit) {
      .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .projects {
        margin: $space-xl (-($space-m));
        flex: 3;

        &.-sm {
          font-size: 1em;
        }
      }

      .text {
        width: auto;
        flex: 2;
      }

      &:nth-child(even) {
        .wrap {
          flex-direction: row-reverse;
        }
      }

      .projects + .projects {
        margin-top: 0;
      }
    }

    &:nth-child(4n - 2) {
      background-color: $color-background;
      background-image:
        linear-gradient(
          45deg,
          transparent 25%,
          $color-background-alt 25%,
          $color-background-alt 50%,
          transparent 50%,
          transparent 75%,
          $color-background-alt 75%
        );
      background-size: 3em 3em;
    }

    &:nth-child(4n - 1) {
      background-color: $color-background-alt;
      background-image:
        linear-gradient(
          -45deg,
          transparentize($color-background, 1) 75%,
          $color-background 75%
        ), linear-gradient(
          45deg,
          $color-background 25%,
          transparentize($color-background, 1) 25%
        ), linear-gradient(
          -45deg,
          $color-background 25%,
          transparentize($color-background, 1) 25%
        ), linear-gradient(
          45deg,
          transparentize($color-background, 1) 75%,
          $color-background 75%
        );
      background-position: 50% 50%;
      background-size: 3em 3em;
    }

    &:nth-child(4n) {
      background: $color-background-alt;
      background-image:
        radial-gradient($color-background 30%, transparent 0),
        radial-gradient($color-background 30%, transparent 0);
      background-size: 3em 3em;
      background-position: 0 0, 1.5em 1.5em;
    }

    &:nth-child(4n + 1) {
      background-color: $color-background-alt;
      background-image:
        linear-gradient(135deg, $color-background 25%, transparent 25%),
        linear-gradient(225deg, $color-background 25%, transparent 25%),
        linear-gradient(315deg, $color-background 25%, transparent 25%),
        linear-gradient(45deg, $color-background 25%, transparent 25%);
      background-position: -1.5em 0, -1.5em 0, 0 0, 0 0;
      background-size: 3em 3em;
    }
  }
}

.main-container {
  .wrap {
    padding: 0 $space-m;

    @include responsive(tiny) {
      padding: 0 $space-l;
    }
  }
}

.project-container {
  .wrap {
    padding: $space-m;

    @include responsive(tiny) {
      padding: $space-l;
    }
  }
}
