$color-white: #fffefe;
$color-black: #25292b;
$color-aqua: #00aeef;

$color-background: $color-white;
$color-background-alt: mix($color-black, $color-white, 2);
$color-text: $color-black;
$color-border: transparentize($color-text, 0.9);

$color-background-inverted: $color-black;
$color-text-inverted: $color-white;

$color-action: $color-aqua;
$color-action-dk: darken($color-aqua, 10);

$color-text-action-inverted: lighten($color-action, 40%);

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
$font-stack-body: 'Lato', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-weight-body: 400;
$font-weight-lead: 300;
$font-weight-heading: 900;
$font-weight-link: 700;

$space-unit: 0.25rem;

$space-xxs: $space-unit / 2;
$space-xs: $space-unit;
$space-s: $space-unit * 2;
$space-m: $space-unit * 4;
$space-l: $space-unit * 8;
$space-xl: $space-unit * 16;

$size-hairline: $space-unit / 4;
$size-tiny: $space-unit / 2;
$size-indicator: $space-unit;

$border: $size-hairline solid $color-border;

@function px-to-em($value) {
  @return $value / 16 * 1em;
}
