$color-white: #f9f2f3;
$color-black: #25292b;
$color-aqua: #00aeef;

$color-background: $color-white;
$color-text: $color-black;

$color-background-inverted: $color-black;
$color-text-inverted: $color-white;
